/* Color scheme 
    #CE4027 - orange is 
    #F4F4F4 -  off white
    #222844 - dark blue 


*/


/*-------------Header*/

.jumbotron.jumbotron-fluid {
  margin-bottom: 0;
  background-color: #222844;
  color: #f4f4f4;
  padding-bottom: 0;
}


.nav-background-color {
  background-color: #222844;
}

.navbar-text-color {
  color: #f4f4f4;
}

.fa-bars {
  color: #f4f4f4;
}

a {
  text-decoration: none;
  color: #f4f4f4;
  text-align: center;
}

/*-------------Main sections*/
section {
  height: 813px;
  position: relative;

}


.home-page {
  height: 813px;
}


h2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f4f4f4;
  font-weight: 500;
}

/* help from stack overlow https://stackoverflow.com/questions/5817233/align-button-at-the-bottom-of-div-using-css */
.btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/*-------------Images*/

#acoustic {
  background-image: url(../images/photo-1510915361894-db8b60106cb1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#electric {
  background-image: url(../images/photo-1513092186897-683e31a91216.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#classical {
  background-image: url(../images/photo-1557694463-7ff6dc1c603d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.guitar-types {
  width: 100%;
  height: 300px;
}

.guitar-images {
  border: 1px solid black;
  width: 50%;
  height: 50%;
  float: right;
  display: inline-block;
  overflow: hidden;

}







/*-------------Footer*/
.social-section {
  float: right;
}

footer {
  background-color: #222844;
}

.social-section-icons {
  margin: 0, 5px, 5px, 5px;
}

h5 {
  color: #f4f4f4;
}


/*-------------Contact page*/
/*https://stackoverflow.com/questions/39068128/how-can-i-make-a-textarea-that-fits-within-the-width-of-the-current-viewport/39068155 */
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
}
/* https://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}




/*-------------Media queires*/

@media only screen and (max-width: 320px) {
  section {
    height: 30vh;
  }

}


@media only screen and (max-width: 480px) {
  section {
    height: 30vh;
  }

}


@media only screen and (max-width: 768px) {
  section {
    height: 50vh;
  }

}


@media only screen and (min-width: 1024px) {
  .guitar-types {
    width: 100%;
    height: 300px;

  }

  .guitar-images {
    width: 25%;
    height: 50%;
    float: right;
    display: inline-block;
    overflow: hidden;

  }

}