/*-------------Header*/

.jumbotron.jumbotron-fluid {
  margin-bottom: 0;
  background-color: #222844;
  color: #f4f4f4;
  padding-bottom: 0;
}


.nav-background-color {
  background-color: #222844;
}

.navbar-text-color {
  color: #f4f4f4;
}


.fa-bars {
  color: #f4f4f4;
}

a {
  text-decoration: none;
  color: #f4f4f4;
  text-align: center;
}


/*-------------Main sections*/
section {
  height: 813px;
  position: relative;

}

/* Home page overview text*/
.homepage-text {
  width: 33%;
  height: fit-content;
  float: left;
  margin: 100px 50px 50px 50px;
  color: #f4f4f4;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.7);
  
}

h2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f4f4f4;
  font-weight: 500;
}

/* help from stack overlow https://stackoverflow.com/questions/5817233/align-button-at-the-bottom-of-div-using-css */
.btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/*-------------Images*/

#acoustic {
  background-image: url(../images/acoustic-guitar-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#electric {
  background-image: url(../images/electric-guitar-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#classical {
  background-image: url(../images/classical-guitar-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.guitar-types {
  width: 100%;
  height: 300px;
  background-color: #222844;
  z-index: 1;

}

.guitar-images {
  width: 50%;
  height: 50%;
  float: right;
  display: inline-block;
  overflow: hidden;


}



/*-------------Footer*/
.social-section {
  float: right;
}

footer {
  background-color: #222844;
}

.social-section-icons {
  margin: 0, 5px, 5px, 5px;
}

h5 {
  color: #f4f4f4;
}

#fixed-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}




/*-------------Contact page*/
/*https://stackoverflow.com/questions/39068128/how-can-i-make-a-textarea-that-fits-within-the-width-of-the-current-viewport/39068155 */
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*https://stackoverflow.com/questions/3580063/how-to-center-a-textarea-using-css*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* https://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}


/*-------------Overview on info pages*/

.overview {
  background-color: #CE4027;
  height: fit-content;

}

.overview p {
  margin-top: 50px;
  margin-bottom: 0;
  text-align: center;
  color: #f4f4f4;
  font-size: large;
}

/*-------------Easy songs section*/

.easy-songs {
  height: fit-content;
  margin-bottom: 0;
  background-color: #CE4027;
  z-index: 0;
}

.easy-songs a {
  text-decoration: underline;
  color: blue;
}

.easy-songs h2 {
  height: fit-content;
  padding-top: 0;

}




.easy-songs p {
  color: #f4f4f4;
  text-align: center;

}

.song {
  height: fit-content;
  padding-bottom: 50px;
}

audio {
  float: right;
  padding-bottom: 10px;
}


/*-------------Media queires*/

@media only screen and (max-width: 320px) {
  section {
    height: 30vh;
  }

}


@media only screen and (max-width: 480px) {
  section {
    height: 30vh;
  }

}


@media only screen and (max-width: 768px) {
  section {
    height: 50vh;
  }

  .homepage-text {
    display: none;
  }


}


@media only screen and (min-width: 1024px) {





  .guitar-types {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;

  }

  .guitar-images {

    width: 25%;
    height: 70%;
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 100px;
  }






}